.customMenuButton {
    background-color: #f2eade !important;
    border-color: #f2eade !important;
    margin-right: 30px;
    padding: 8px 15px;
    border-radius: 8px;
    color: #bc3636;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}

.customMenuButton:hover {
    background-color: #f2eade !important;
    border-color: #f2eade !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: url("../../assets/background.svg") no-repeat center/cover;



    height: 70px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem;
}