.customForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F7F3E9;
}

.formGroup {
    background-color: #10242d;
    padding: 5rem 5rem;
    border-radius: 15px;
    display: flex;
    gap: 2rem;
    color: white;
    font-style: bold;
}