.col {
    width: 40rem;
    height: 25rem;
}

.customCard {
    background-color: #10242d !important;
    color: white !important;
    padding: 15px 15px 15px 15px !important;
    border-radius: 10px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.page {
    background-color: #F7F3E9;
    overflow: auto;
    margin: 0 auto;
    padding: 90px 20px 20px 20px;
}