.house_type_bar {
    position: sticky;
    top: 30px;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2eade;
    padding: 20px;
    color: #bc3636;
    font-weight: bold;
    z-index: 200;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.search img {
    width: 30px;
    aspect-ratio: 1/1;
}

.search_sidebar {
    position: sticky;
    top: 30px;
    /* Stessa altezza della barra orizzontale */
    left: 0;
    width: 300px;
    height: calc(100vh - 30px);
    /* Mantiene la sidebar alta fino in fondo */
    background-color: #f2eade;
    padding: 20px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.search_sidebar input {
    width: 75%;
    padding: 10px;
    border: 1px solid #f33709 !important;
    border-radius: 15px;
}



.search_sidebar button {
    width: 18%;
    padding: 5px;
    background-color: #c74028;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.search_sidebar button:hover {
    transform: scale(1.1);
}

.container {
    margin-left: 320px !important;
    /* Sposta la lista delle case a destra della sidebar */
    padding-top: 20px !important;
}

.main_wrapper {
    display: flex;
    flex-direction: row;
    /* Sidebar e contenuto principale affiancati */
}