.card_img {
    height: 250px;
    object-fit: cover;
}

.hover {
    cursor: pointer;
    background-color: whitesmoke !important;
    transition: all 0.3s ease-in-out;
    color: #34495e !important;
}


.hover:hover {
    transform: scale(1.02);

}