.filters {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
    gap: 10px;
    font-weight: bold;

}

.fil_btn:hover {
    background-color: #10242d75;
}

.filter_options {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.filter_button:focus {
    outline: none;
    /* Rimuove eventuali bordi di focus */
}

.filter_button {
    padding: 2px 3px;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.filter_active_button {
    padding: 2px 3px;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background-color: #0aca34ad;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.filter_button:hover {
    background-color: #0aca34ad;
    border: none;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.fil {
    background-color: #16a085;
    padding: 8px 15px;
    border-radius: 6px;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: block;
    width: 170px;
    margin: 0 auto;
    text-wrap: nowrap;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;

}

.fil:hover {
    background-color: #0d6654;
    color: white;
    transform: scale(1.05);
}