.mainpage {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #fffcf8;
    position: relative;
}


.mainpage::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: grey;

}

.mainpage::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 999px;
    background-color: rgb(187, 185, 185);
}