.mainpage {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #fffcf8;
    position: relative;
    margin-top: 65px;
}

.mainpage::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: rgb(187, 185, 185);
}

.mainpage::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 999px;
    background-color: red;
}

/* HERO SECTION */
.hero {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Overlay per contrasto */
.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    /* Leggera oscurità per migliorare contrasto */
}

/* Titolo Hero */
.hero_title_one,
.hero_title_two {
    font-family: 'Codec Pro', sans-serif;
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow:
        2px 2px 10px rgba(0, 0, 0, 0.5),
        /* Ombra nera */
        -1px -1px 0px orange,
        /* Contorno arancione sottile */
        1px -1px 0px orange,
        -1px 1px 0px orange,
        1px 1px 0px orange;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}


.hero_title_one {
    top: 5%;
    left: 5%;
}

.hero_title_two {
    bottom: 15%;
    right: 5%;
}

/* CAROUSEL */
.carousel {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 4%;
    left: 0;
    right: 0;
    height: 100%;
    /* Lo slider ora occupa metà dell'hero */
    background-color: #f7e3ca;
}

/* Slide dello slider */
.slide {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

/* Immagini dello slider */
.houseImage {
    width: 100%;
    height: 100%;
    max-height: 40vh;
    /* Occupa metà dell'hero */
    object-fit: cover;
    border-radius: 0px;
    z-index: 1;
}


.under_image {
    font-family: 'Codec Pro', sans-serif;
    background-color: #f7e3ca;
    display: flex !important;
    height: 100px !important;
    width: 100% !important;
    padding-top: 115px;
    justify-content: center !important;
    align-content: flex-end;
    align-items: flex-end;
    position: relative !important;
    bottom: 0px !important;
    z-index: 999 !important;
    gap: 150px !important;
}

.icon {
    height: 50px;
    width: auto;
}

.icon_title {
    font-size: 1.2rem;
    color: whitesmoke;
    padding: 0px 5px;
    background: url("../../assets/background.svg") no-repeat center/cover;
    border-radius: 999px;
    width: 190px;
    text-align: center;
}

.icon_subtitle {
    color: #bc3636;
    text-align: center;
    width: 300px;
    font-size: 0.8rem;
    margin-bottom: 10px;

}